---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>
    <div class="wrapper">
        {% include sidebar.html %}
        
        <div class="main-wrapper">
           
            <h1 class="pub-title">{{page.title}}</h1>
            <div>
                {% for a in page.authors %}
                    {% if forloop.last %}
                        {% if a == "Tom Horak" %}
                            <strong>{{a}}</strong>.
                        {% else if %}
                            {{a}}.
                        {% endif %}
                    {% else %}
                        {% if a == "Tom Horak" %}
                            <strong>{{a}}</strong>,
                        {% else if %}
                            {{a}},
                        {% endif %}
                    {% endif %} 
                {% endfor %}
                <br />
                {% if page.toappear %}
                    To appear in:
                {% else %}
                    In:
                {% endif %}
                <em>{{page.venue}}</em>.
                {% if page.publisher %}
                    {{page.publisher}},
                {% endif %}
                {% if page.pages %}
                    {{page.pages}},
                {% endif %}
                {{ page.date | date: "%Y" }}.
                {% if page.note %}
                    <span class="labels"><em>{{page.note}}</em></span>
                {% endif %}
                {% if page.venue-short %}
                <br>
                    <span class="venue-short labels"><i class="fa fa-flag"></i> {{page.venue-short}}</span>
                {% endif %}
                {% if page.type %}
                    <span class="type labels"><i class="fa fa-tag"></i> {{ page.type }}</span>
                {% endif %}
                {% if page.award %}
                    <span class="award labels"><i class="fa fa-trophy"></i> {{page.award}} Award</span>
                {% endif %}
            </div>
            <div class="links-container">
                {% if page.pdf %}
                    <a href="{{page.pdf}}"><i class="fas fa-file-pdf"></i> PDF</a>
                {% endif %}
                {% if page.projectpage %}
                    <a href="{{page.projectpage}}"><i class="fas fa-external-link-alt"></i> Project page</a>
                {% endif %}
                {% if page.bibtex %}
                    <a href="#bibtex"><i class="fas fa-quote-right"></i> Bibtex</a>
                {% endif %}
                {% if page.doi %}
                    <a href="http://dx.doi.org/{{page.doi}}"><i class="fas fa-book"></i> DOI</a>
                {% endif %}
                {% if page.poster %}
                    <a href="{{page.poster}}"><i class="fas fa-file-image"></i> Poster</a>
                {% endif %}
                {% if page.slides %}
                    <a href="{{page.slides}}"><i class="far fa-image"></i> Slides</a>
                {% endif %}
                {% if page.video %}
                    <a href="{{page.video}}"><i class="fas fa-video"></i> Video</a>
                {% endif %}
                {% if page.blog %}
                <a href="{{page.blog}}"><i class="fas fa-align-left"></i> Blog Post</a>
                {% endif %}
            </div>

            {% if page.teaser %}
                <div class="teaser-container">
                    <img class="teaser" src="../{{page.teaser}}" alt="{{page.name}} teaser" />
                </div>
            {% endif %}
            <div class="abstract">
                <h2>Abstract</h2>
                <p>{{page.abstract}}</p>
            </div>

            <div>
                {{content}}
            </div>
            {% if page.bibtex %}
            <div class="bibtex" id="bibtex">
                <h2>Bibtex</h2>
                <div class="highlighter-rouge">
<pre class="highlight"><code>{{page.bibtex}}</code></pre>
                </div>
            </div>
            {% endif %}
            
        </div><!--//main-body-->
    </div>
 
{% include footer.html %}
 
{% include scripts.html %}
</body>
</html> 

