---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>
    <div class="wrapper">
        {% include sidebar.html %}
        
        <div class="main-wrapper">
           
            <h1 class="pub-title">{{page.title}}</h1>
            <div>
                {% for a in page.authors %}
                    {% if forloop.last %}
                        {% if a == "Tom Horak" %}
                            <strong>{{a}}</strong>.
                        {% else if %}
                            {{a}}.
                        {% endif %}
                    {% else %}
                        {% if a == "Tom Horak" %}
                            <strong>{{a}}</strong>,
                        {% else if %}
                            {{a}},
                        {% endif %}
                    {% endif %} 
                {% endfor %}
                <br />
                {% if page.toappear %}
                    To appear in:
                {% else %}
                    In:
                {% endif %}
                <em>{{page.venue}}</em>.
                {% if page.publisher %}
                    {{page.publisher}},
                {% endif %}
                {% if page.pages %}
                    {{page.pages}},
                {% endif %}
                {{ page.date | date: "%Y" }}.
                {% if page.award %}
                    <br>
                    <span class="award"><i class="fa fa-trophy"></i> {{page.award}} Award</span>
                {% endif %}
            </div>
            <div class="links-container">
                {% if page.pdf %}
                    <a href="{{page.pdf}}"><i class="fa fa-file-pdf-o"></i> PDF</a>
                {% endif %}
                {% if page.projectpage %}
                    <a href="{{page.projectpage}}"><i class="fa fa-external-link"></i> Project page</a>
                {% endif %}
                {% if page.doi %}
                    <a href="http://www.doi2bib.org/#/doi/{{page.doi}}"><i class="fa fa-quote-right"></i> Bibtex</a>
                    <a href="http://dx.doi.org/{{page.doi}}"><i class="fa fa-book"></i> DOI</a>
                {% endif %}
                {% if page.poster %}
                    <a href="{{page.poster}}"><i class="fa fa-file-image-o"></i> Poster</a>
                {% endif %}
                {% if page.slides %}
                    <a href="{{page.slides}}"><i class="fa fa-picture-o"></i> Slides</a>
                {% endif %}
                {% if page.video %}
                    <a href="{{page.video}}"><i class="fa fa-video-camera"></i> Video</a>
                {% endif %}
            </div>

            {% if page.teaser %}
                <div class="teaser-container">
                    <img class="teaser" src="../{{page.teaser}}" alt="{{page.name}} teaser" />
                </div>
            {% endif %}
            <div class="abstract">
                <h2>Abstract</h2>
                <p>{{page.abstract}}</p>
            </div>

            <div>
                {{content}}
            </div>
            
        </div><!--//main-body-->
    </div>
 
{% include footer.html %}
 
{% include scripts.html %}
</body>
</html> 

